:host {
  font-family: sans-serif;
  color: rgb(38, 70, 83);
  background-color: rgba(42, 157, 143, 0.25);
  border-radius: 0.25em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

:host([accent]) {
  background-color: rgba(244, 162, 97 , 0.2);
}